[flake8]
max-line-length = 120
max-complexity = 18
select = B,C,E,F,W,T4,B9
# exclude = 

# ignore = W191, W291, W503, E101, E203, E266, E501
# W191 - Indentation contains tabs
# W291 - Trailing whitespace
# W503 - Line break occurred before a binary operator
# E101 - Indentation contains mixed spaces and tabs
# E203 - Whitespace before ':'
# E266 - Too many leading '#' for block comment 
# E501 - Line too long (x > 79 characters) 
